.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 40, 40, 0.803);
    overflow: hidden;
}
.modal{ 
    overflow: hidden;
    margin: 100px auto;
   width: 700px;
   height: 500px;
   border: none;
   outline: none;
}
.modalImage{
    object-fit: cover;
    aspect-ratio: auto;
}
